#activities{

  .event{

    .thumbnail{
      border:5px solid #333333;
      color:#333;
      border-radius: 0;
      padding:7px;
      height:180px;
      .event-title{
        font-weight:bold;
      }
      ul{
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
      }
      a.btn-event{
        border:none;
        box-shadow: none;
        text-align: right;
        position: absolute;
        right: 25px;
        bottom: 35px;
      }
    }
    .thumbnail:hover{
      background: #ddd;

    }

  }
}

#events-option-2{
  .inner-row{
    margin-top: 15px;
    padding-top: 15px;
  }

  .event-date{


    .date{
      font-size: 4em;
      font-weight: bold;
    }
    .month{
      display: block;
      position: absolute;
      top: 18px;
      left: 85px;
    }
  }
  .event-info{

    .event-title{
      font-weight: 600;
      letter-spacing: 2px;
      font-size: 2.3rem;
    }
  }
  .event-readmore{
    text-align: center;
    a.btn-readmore{
      margin-top: 25px;
    }
  }
  .event-divider{
    color: red;
    text-align: center;
    width: 75%;

  }
}