$main_bg: "https://visualhunt.com/photos/l/4/synagogue-jewish-history-architecture-traditional.jpg";

#hero{
  background: url($main_bg) no-repeat center center;
  background-size: cover;
  height: 450px;

    #page-title{
      text-transform: capitalize;
      text-align: center;
      font-weight: bold;
      padding: 3em 0;
      font-size: 4.3em;
      color: #ffffff;
    }


}