$main_bg: "https://visualhunt.com/photos/l/4/synagogue-jewish-history-architecture-traditional.jpg";

#hero{
  background: url($main_bg) no-repeat center center;
  background-size: cover;
  height: 450px;

    #page-title{
      text-transform: capitalize;
      text-align: center;
      font-weight: bold;
      padding: 3em 0;
      font-size: 4.3em;
      color: #ffffff;
    }

  .container:after{
    z-index: 0;
    background: white;
    content: "";
    display: block;
    width: 100%;
    height: 10em;
    position: absolute;
    top: 460px;
    left: 0;
    -webkit-transform: skewY(-2deg);
    -ms-transform: skewY(-2deg);
    transform: skewY(-2deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
  }
}