/* Globals */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700");
body {
  font-family: "Open Sans", sans-serif; }

/* Elements*/
header {
  background: #333333; }

header #top-bar {
  color: #ffffff; }

.navbar {
  border-radius: 0;
  margin-bottom: 0; }

.navbar .nav li a {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-width: 600;
  color: #ffffff; }

.navbar .nav li.active a {
  color: #fff000; }

#page-title,
.section-title {
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-size: 2em; }

.btn-readmore {
  border-radius: 20px; }

/* Layouts */
#hero {
  background: url("https://visualhunt.com/photos/l/4/synagogue-jewish-history-architecture-traditional.jpg") no-repeat center center;
  background-size: cover;
  height: 450px; }

#hero #page-title {
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  padding: 3em 0;
  font-size: 4.3em;
  color: #ffffff; }

.breaker {
  min-height: 200px;
  background-color: #dddddd;
  color: #333;
  border-bottom: 3px solid #333333;
  padding: 50px; }

#activities .event .thumbnail {
  border: 5px solid #333333;
  color: #333;
  border-radius: 0;
  padding: 7px;
  height: 180px; }

#activities .event .thumbnail .event-title {
  font-weight: bold; }

#activities .event .thumbnail ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0; }

#activities .event .thumbnail a.btn-event {
  border: none;
  box-shadow: none;
  text-align: right;
  position: absolute;
  right: 25px;
  bottom: 35px; }

#activities .event .thumbnail:hover {
  background: #ddd; }

#events-option-2 .event-date .date {
  font-size: 4em;
  font-weight: bold; }

#events-option-2 .event-date .month {
  display: block;
  position: absolute;
  top: 18px;
  left: 85px; }

#events-option-2 .event-info .event-title {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 2.3rem; }

#events-option-2 .event-readmore {
  text-align: center; }

#events-option-2 .event-readmore a.btn-readmore {
  margin-top: 25px; }

/* Pages*/
#gallery .gal-img {
  margin-top: 15px; }

/* Media*/
