/* Globals */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700");
body {
  font-family: "Open Sans", sans-serif; }

.no-border {
  border: none; }

#site-footer {
  height: 250px;
  background-color: #333333;
  color: #fff; }

/* Elements*/
header {
  background: #333333; }

header #top-bar {
  color: #ffffff; }

.navbar {
  border-radius: 0;
  margin-bottom: 0; }

.navbar .nav li a {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-width: 600;
  color: #ffffff; }

.navbar .nav li.active a {
  color: #fff000; }

.navbar.affix {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999; }

#page-title,
.section-title {
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  font-size: 2em; }

.btn-readmore {
  border-radius: 20px; }

.divider {
  width: 85%;
  border-top-color: #ddd; }

/* Layouts */
#hero {
  background: url("https://visualhunt.com/photos/l/4/synagogue-jewish-history-architecture-traditional.jpg") no-repeat center center;
  background-size: cover;
  height: 450px; }

#hero #page-title, #hero #post-title {
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  padding: 3em 0;
  font-size: 4.3em;
  color: #ffffff; }

#hero .container:after {
  z-index: 0;
  background: white;
  content: "";
  display: block;
  width: 100%;
  height: 10em;
  position: absolute;
  top: 460px;
  left: 0;
  -webkit-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-transform-origin: bottom left;
  -ms-transform-origin: bottom left;
  transform-origin: bottom left; }

.breaker {
  min-height: 200px;
  background-color: #dddddd;
  color: #333;
  border-bottom: 3px solid #333333;
  padding: 50px; }

#activities .event .thumbnail {
  border: 5px solid #333333;
  color: #333;
  border-radius: 0;
  padding: 7px;
  height: 180px; }

#activities .event .thumbnail .event-title {
  font-weight: bold; }

#activities .event .thumbnail ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0; }

#activities .event .thumbnail a.btn-event {
  border: none;
  box-shadow: none;
  text-align: right;
  position: absolute;
  right: 25px;
  bottom: 35px; }

#activities .event .thumbnail:hover {
  background: #ddd; }

#events-option-2 .inner-row {
  margin-top: 15px;
  padding-top: 15px; }

#events-option-2 .event-date .date {
  font-size: 4em;
  font-weight: bold; }

#events-option-2 .event-date .month {
  display: block;
  position: absolute;
  top: 18px;
  left: 85px; }

#events-option-2 .event-info .event-title {
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 2.3rem; }

#events-option-2 .event-readmore {
  text-align: center; }

#events-option-2 .event-readmore a.btn-readmore {
  margin-top: 25px; }

#events-option-2 .event-divider {
  text-align: center;
  width: 75%; }

/* Pages*/
#gallery .gal-img {
  margin-top: 15px; }

.thumbnail.no-border {
  border: none; }

.thumbnail.no-border .tm-text {
  line-height: 1.4; }

/* Media*/
/*Plugins*/
.slick-slider img {
  margin: 0 auto; }

.slick-arrow {
  position: absolute;
  top: 100px;
  z-index: 999; }

.fa-chevron-right {
  right: 0; }

.fa-chevron-left {
  left: 0; }

/* Fonts*/
